{%  extends 'home-layout.html.twig' %}

            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark is-large postal-bg-image">

            {{ parent() }}

        <div class="hero-body postal-bg-style">
            {{ form_start(tracking) }}
                <div class="container has-text-centered">
                    <div class="title">Track Your Package</div>
                        <div class="package-track-form">
                            {{ form_row(tracking.PackageID) }}

                            {{ form_row(tracking.Submit) }}
                        </div>
                </div>
            {{ form_end(tracking) }}
        </div>

    </section>

    <section class="section">
            <div class="container">
            <div class="tile is-ancestor">
        <div class="tile is-7 is-vertical is-parent">
            <div class="tile is-child box postal-idea postal-idea-message">
                <div class="title">
                    Ready for Mother's Day?
                </div>
                <div class="subtitle">
                    Ship with CourierPO's affordable, reliable and fast shipping. <br/> Let us help you get your surprise, right on <strong>time</strong>.
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box postal-idea postal-idea-image">
            </div>
        </div>
            </div>
                </div>
    </section>

    <section class="section info">
        <div class="container">
            <div class="title">
                Way More Than Just Shipping.
            </div>
            <div class="subtitle">
            Explore ways to become more efficient, see printing offers and solutions, or<br/> get insights and inspiration for your small business.
            </div>
        </div>
    </section>

    
    <section class="section info">
        <div class="container">
            <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                        <p class="title">Ship</p>
                        <p class="subtitle">Courier.PO makes shipping easy. We will pick up the packages from your home
and drop them off fast! Ship with and we will get the job done right!</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                        <p class="title">Track</p>
                        <p class="subtitle">Tracking can be accomplished in a couple of ways. Customers can view all their sent packages
when they log in and can track using the tracking number as well. </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                        <p class="title">Enjoy</p>
                        <p class="subtitle">With the holidays coming up it would suck to get a late package! Get your gifts to your family on time! </p>
                        </article>
                    </div>
                    </div>
        </div>
    </section>

{% endblock %}