{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Login
{% endblock %}


            {% block navOptions %}
                <div class="navbar-end">

                    <div id="header-dropdown-button1" name="header-dropdown" class="dropdown navbar-item postal-button">
                        <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="drawDropdown(1);">
                                <span>Tracking</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{{ path("app-track") }}" class="dropdown-item">
                                        Track Your Package
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div id="header-dropdown-button2" name="header-dropdown" class="dropdown navbar-item postal-button">
                        <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="drawDropdown(2);">
                                <span>Shipping</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{{ path('app-ship-order') }}" class="dropdown-item">
                                        Create A Package
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div id="header-dropdown-button3" name="header-dropdown" class="dropdown navbar-item postal-button">
                        <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="drawDropdown(3);">
                                <span>Support &amp; Services</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{{ path('app-support') }}" class="dropdown-item">
                                        Support
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>

    <section class="section is-large">
        <div>
            <div class="columns is-mobile">
            <div class="column is-4 is-offset-4 ">
            
                <a href="{{ path('app-home') }}">&lt; Back</a>
                <form>
                    <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email">
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                        </span>
                    </p>
                    </div>
                    <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </p>
                    </div>
                    <div class="field">
                    <p class="control">
                        <button class="button is-success">
                        Login
                        </button>
                    </p>
                    </div>
                </form>

            </div>
            </div>

        </div>
    </section>
{% endblock %}