{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Employee Portal
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>  

 <section class="section is-large">
        <div>

            <div class="columns is-mobile">
            <div class="column is-4 is-offset-4 portal-modal">
                {% if feedback2|length > 0 %}
                    <div class="notification is-warning">
                        {{feedback2}} Incorrect EmployeeID or Password.
                    </div>
                {% else %}
                {% endif %}
                {{ form_start(portal) }}
                    <div class="postal-login">
                        <div>
                            {{ form_row(portal.EmployeeID) }}
                        </div>
                        <div>
                            {{ form_row(portal.Password) }}
                        </div>
                        <div>
                            {{ form_row(portal.Submit) }}
                        </div>
                    </div>
                {{ form_end(portal) }}

            </div>
            </div>

        </div>
    </section>
    
{% endblock %}