{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Track package
{% endblock %}


            {% block navOptions %}
                <div class="navbar-end">

                    <div id="header-dropdown-button1" name="header-dropdown" class="dropdown navbar-item postal-button">
                        <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="drawDropdown(1);">
                                <span>Tracking</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{{ path("app-track") }}" class="dropdown-item">
                                        Track Your Package
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div id="header-dropdown-button2" name="header-dropdown" class="dropdown navbar-item postal-button">
                        <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="drawDropdown(2);">
                                <span>Shipping</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{{ path('app-ship-order') }}" class="dropdown-item">
                                        Create A Package
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div id="header-dropdown-button3" name="header-dropdown" class="dropdown navbar-item postal-button">
                        <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="drawDropdown(3);">
                                <span>Support &amp; Services</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{{ path('app-support') }}" class="dropdown-item">
                                        Support
                                    </a>
                                </div>
                        </div>
                    </div>
                    <a class="navbar-item" href="{{ path('app-login') }}">
                    MyAccount
                    </a>
                </div>
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>

    <section class="section is-medium">
        <div>
            <div class="columns is-mobile">
            <div class="column is-4 is-offset-4 postal-track-ribbon">
            

                <div class="field">
                    <form>
                    <div class="subtitle">Enter a CourierPO tracking number.</div>
                    <input class="package-track track-input" placeholder="Tracking number"/>
                    <button class="package-track track-button">Track</button>
                    </form>
                </div>

                            
            </div>
            </div>

        </div>
    </section>

    {% block trackResult %} {% endblock %}

{% endblock %}