{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Track package
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>

    <div class="postal-bg-tracking">
    <section class="section is-medium">
        <div class="postal">
            <div class="columns is-mobile">
            <div class="column is-4 is-offset-4 postal-track-ribbon">
            
                {{ form_start(tracking) }}
                    <div class="container has-text-centered">
                        <div class="title" style="color: #fff">Enter a CourierPO tracking number.</div>
                            <div class="package-track-form">
                                {{ form_row(tracking.PackageID) }}

                                {{ form_row(tracking.Submit) }}
                            </div>
                    </div>
                {{ form_end(tracking) }}
                            
            </div>
            </div>

        </div>
    </section>
    </div>

    {% block trackResult %} 
    
    <section class="section is-small tracking-history-result">
        <div class="container">



            <div>
                <div class="subtitle">
                    Tracking History
                </div>

                {% if data|length > 0 %}
                    <div>


                            {{ id }} - 
                            {% if status|length > 0 %}

                            {{ status[0].Status }}

                            {% endif %}

                    </div>

                    {% for record in data %}
                        <div>
                            {{ record.Date }} -
                            {{ record.Note }}
                        </div>
                        <br/><br/>
                        
                    {% endfor %}

                {% else %}

                {% endif %}
            </div>

        </div>
    </section>
    
    {% endblock %}

{% endblock %}