{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Track package
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>

    <div class="postal-bg-tracking">
    <section class="section is-medium">
        <div class="postal">
            <div class="columns is-mobile">
            <div class="column is-4 is-offset-4 postal-track-ribbon">
            
                {{ form_start(tracking) }}
                    <div class="container has-text-centered">
                        <div class="title" style="color: #fff">Enter a CourierPO Tracking ID </div>
                            <div class="package-track-form">
                                {{ form_row(tracking.PackageID) }}

                                {{ form_row(tracking.Submit) }}
                            </div>
                    </div>
                {{ form_end(tracking) }}
                            
            </div>
            </div>

        </div>
    </section>
    </div>

    {% block trackResult %} 
    
    <section class="section info">
        <div class="container information-list">

            <div class="title">
                What's a Tracking ID?
            </div>
            <div class="subtitle">
                Whenever you create and ship a package, you also get a tracking ID with your order. <br/>This ID is used to determine where your package has gone through and its status.
            </div>
            <hr>
            <div class="title">
                How to track your package?
            </div>
            <div class="subtitle">
                To view your package's tracking, simply enter your TrackingID on the text field above <br/>and press submit. You can also do this on our homepage.
            </div>
            
        </div>
    </section>

    {% endblock %}

{% endblock %}