{%  extends 'customer_layout.html.twig' %}

{% block title %}
{{ parent() }} - Dashboard
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    {{ parent() }}


    <section id="postal-banner" class="section postal-banner">
        <div class="container">
            <div>
            
            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}
            
            </div>
            <div class="title">Your Courier.PO Dashboard</div>
            <div class="subtitle">Hi <strong>{{ firstname }}</strong>! View your most-recently updated packages below.<br/><small>Or find all summaries of your account.</small></div>
        </div>
    </section>
    

    <section class="section is-small">
    <div class="container">


        <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">


                    <label class="label"> Your Packages </label>

                    {% if orders|length > 0 %}

                        <article class="message is-primary">
                            <div class="message-header">
                                <p>Most-recently updated packages</p>
                            </div>
                            <div class="message-body">

                                {% for order in orders %}

                                        <div class="postal-item-pill media is-mobile">
                                            <div class="media-content">
                                                <p><span class="subtitle">Package #{{ order.id }}</span></p>
                                                <div class="status">
                                                    <p>Last Updated: {{ order.date }}</p>
                                                    <p>Note: {{ order.note }}</p>
                                                </div>
                                            </div>

                                            <div class="media-right">{{ order.status }}</div>
                                        </div>
                                        <hr>

                                {% endfor %}


                            </div>
                        </article>


                    {% else %}
                                <article class="message is-warning">
                                    <div class="message-header">
                                        <p>Most-recently updated packages</p>
                                    </div>
                                    <div class="message-body">
                                        <p>You currently have no tracked orders. <br/>
                                        Ship a package now through <a href=""><strong>Packages</strong></a>.
                                        </p>
                                    </div>
                                    </article>
                    {% endif %}

                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent is-vertical">

                    {% if messages|length > 0 %}

                        {% for message in messages %}
                                <article class="tile is-child notification">
                                    <p class="title">Package# {{ message.id }}</p>
                                    <div>Last Updated: {{message.date}}</div>
                                    <div>Tracking Note: {{message.note}}</div>
                                </article>
                                {% endfor %}

                        {% else %}

                    {% endif %}
                </div>
            </div>  
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification">
 
            </article>
        </div>
        </div>


    </div>
    </section>

{% endblock %}