{% extends 'customer_layout.html.twig' %}

{% block body %}
{{ parent() }}

    {% if pid|length > 0 %}
<section id="postal-banner" class="section postal-banner">
        <div class="container">

            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}

            <div class="title">Viewing Invoice</div>
        </div>

    </section>


    {% if transaction|length > 0 %}

    <section class="section">
        <div class="container">

        <div class="media">
        
            <div class="media-left">
                <div class="title">INVOICE</div>
                <div><small>Date: {{transaction.TransactionDate}}</small></div>
                <div><small>Invoice #{{transaction.TransactionID}}</small></div>
            </div>
        </div>
        <hr>
            
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Return</p>
      <p class="title">
        {{return_transaction.return_Street}} {% if return_transaction.return_ApartmentNo is defined %}{{return_transaction.return_ApartmentNo}}{% endif %}<br/>
        {{return_transaction.return_City}}, {{return_transaction.StateName}} {{return_transaction.return_ZIP}}
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Destination</p>
      <p class="title">
        {{transaction.dest_Street}} {% if transaction is defined %}Apt/Suite #{{ transaction.dest_ApartmentNo}}{% endif %}<br/>
        {{transaction.dest_City}}, {{ transaction.StateName}} {{ transaction.dest_ZIP}}
      </p>
    </div>
    <div>

    </div>
  </div>
</nav>








                    <table class="table is-fullwidth is-hoverable is-bordered">
                        <thead>
                            <tr>
                                <th><attr title="Package ID"> Package ID</attr></th>
                                <th>Service</th>
                                <th>Customer Email</th>
                                <th>Weight</th>
                                <th>Width</th>                                
                                <th>Height</th>
                                <th>Length</th>
                                <th>Payment</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <th>{{pid}}</th>
                                <th>{{transaction.ServiceName}}</th>
                                <th>{{transaction.Email}}</th>
                                <th>{{transaction.Weight}} lbs</th>
                                <th>{{transaction.Width}} cm</th>               
                                <th>{{transaction.Height}} cm</th>
                                <th>{{transaction.Length}} cm</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th>$ {{transaction.TransactionTotal}}</th>
                            </tr>
                        </tbody>
                    </table>




        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 50px;">
        THANK YOU FOR SHIPPING WITH COURIER.PO
        </div>






        </div>
    </section>

    {% endif %}
    {% else %}

    <section id="postal-banner" class="section postal-banner">
        <div class="container">

            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}

            <div class="title">View Invoice</div>
            <div class="subtitle">Invoice not found.</div>
        </div>

    </section>
    <section class="section">
    <div class="container">

      <div class="notification is-warning">
        Uh Oh! Invoice not found. <br/>
        <a href="{{path('app-customer-invoice')}}"> Return </a>
      </div>

    </div>
    </section>
            
    {% endif %}
    
{% endblock %}