{% extends 'customer_layout.html.twig' %}

{% block body %}
{{ parent() }}

    <section id="postal-banner" class="section postal-banner">
        <div class="container">

            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}

            <div class="title">Find Your Courier.PO Invoices</div>
            <div class="subtitle">Looking for your package's invoice? Enter your package's invoice number <br>
                <small>You can only view your packages' invoices. </small>
            </div>
        </div>

    </section>

    <section class="section is-medium">
        <div>

            <div class="columns is-mobile">
            <div class="column is-4 is-offset-4 postal-track-ribbon">
            
                {{ form_start(tracking) }}
                    <div class="container has-text-centered">
                        <label class="Label">Enter Your CourierPO Invoice ID</label>
                            <div class="package-track-form">
                                {{ form_row(tracking.PackageID) }}

                                {{ form_row(tracking.Submit) }}
                            </div>
                    </div>
                {{ form_end(tracking) }}
                            
            </div>
            </div>

        </div>
    </section>
{% endblock %}
