{%  extends 'customer_layout.html.twig' %}

{% block title %}
{{ parent() }} - My Orders
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    {{ parent() }}
    
    <section id="postal-banner" class="section postal-banner">
        <div class="container">
            <div>
            
            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}
            
            </div>
            <div class="title">Your Courier.PO Orders</div>
            <div class="subtitle">View <em>all</em> your orders, invoices and tracking.</div>
        </div>

    </section>

<section class="section">
<div class="container">

    <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">

            <div class="tile">
                <div class="tile is-parent is-vertical">


                    <label class="label"> Your Packages </label>

                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th><attr title="Package ID"> ID</attr></th>
                                <th>Status</th>
                                <th>Date Ordered</th>
                                <th>Tracking</th>
                                <th>Invoice</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if orderList|length > 0 %}

                                {% for order in orderList %}
                                    <tr>
                                        <th>{{ order.ID }} </th>
                                        <td>{{ order.Status }}</td>
                                        <td>{{ order.Date }}</td>
                                        <td><a href="/dashboard/orders/track/{{ order.ID }}">View</a></td>
                                        <td><a href="/dashboard/orders/invoice/{{ order.InvoiceID }}">View</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}

                                <article class="message is-warning">
                                <div class="message-header">
                                    <p>You currently have no orders.</p>
                                </div>
                                <div class="message-body">
                                    Ship a package now through <a href=""><strong>Packages</strong></a>.
                                </div>
                                </article>

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

    </div>
    <div class="tile is-parent">
            <article class="tile is-child notification">

            </article>

        </div>

    </div>

</div>
</section>

    
{% endblock %}