{% extends 'customer_layout.html.twig' %}

{% block body %}
{{ parent() }}

    <section id="postal-banner" class="section postal-banner">
        <div class="container">

        
            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}

            <div class="title">Viewing Package Tracking</div>
            <div class="subtitle">For Package {{ id }}</div>
        </div>

    </section>
    {% block trackResult %} 
    
    {% if data|length > 0 %}
        <section class="section info">
        <div class="container">

            <div class="postal-payment-list">
                <div class="subtitle"> Tracking No. {{ id }}</div> 


                    <div class="control">
                        <div class="tags has-addons">
                        <span class="tag is-dark">Package</span>
                        <span class="tag is-primary">
                        
                                        {% if status|length > 0 %}
                                            {{ status[0].Status }}
                                        {% endif %}
                        
                        </span>
                        </div>
                    </div>
            </div>
        <hr>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Datetime Updated</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
        {% for record in data %}
                <tr>
                    <th>{{ record.Date }}</th>
                    <th>{{ record.Note }}</th>
                <tr>
        {% endfor %}
            </tbody>
        </table>

        </div>
        </section>

    {% else %}
        
    <section class="section">
        <div class="container">


        <article class="message is-warning">
            <div class="message-header">
                <p>Invalid TrackingID</p>
            </div>
            <div class="message-body">
                Package with given Tracking ID not found.
            </div>
        </article>
        
            <div class="subtitle">

            </div>
            
        </div>

    </section>

    {% endif %}
    
    {% endblock %}
{% endblock %}