{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Create an Account
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>  

  <section id="postal-banner" class="section postal-banner">
        <div class="container">

            <div class="title">Apply as a Courier</div>
            <div class="subtitle">Ready to be a courier? Register below!<br/></div>
        </div>

    </section>


    <section class="section is-small">
        <div class="container">
        <div class="columns">

            <div class="column is-three-quarters">

            {{ form(registration)}}

            </div>
            
        </div>
        </div>
    </section>


    {% if employee_id|length > 0 %}
        <div id="shift-modal" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Welcome to Courier.PO</p>
            </header>
            <section class="modal-card-body">
                Your Employee ID is: {{employee_id}}
            </section>
            <footer class="modal-card-foot">
            <button class="button is-dark" onclick="modal2();">Login</button>
            </footer>
        </div>
        </div>
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/deliver.js') }}"></script>
{% endblock %}