{%  extends 'employee_layout.html.twig' %}

{% block title %}
{{ parent() }} - Dashboard
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    {{ parent() }}

    <section id="postal-banner" class="section postal-employee-banner">
        <div class="container">
            <div>
            
            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}
            
            </div>
            <div class="title">Your Courier.PO Dashboard</div>
            <div class="subtitle">Welcome Courier <strong>{{firstname}}</strong>!</div>
        </div>

    </section>


    <section class="section is-small dashboard">
    <div class="container">

        <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">

            <div class="tile">

               
            </div>
            <div class="tile">
                <div class="tile is-parent is-vertical">

                </div>
            </div>

            <div class="tile">
                    <div class="tile is-parent is-vertical">

                    </div>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child">
            <div class="content">
                <div class="content">

                </div>
            </div>
            </article>
        </div>
        </div>


    </div>
    </section>

{% endblock %}