{%  extends 'employee_layout.html.twig' %}

{% block title %}
{{ parent() }} - Reports
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    {{ parent() }}
    
    <section id="postal-banner" class="section postal-employee-banner">
        <div class="container">
            <div>
            
            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}
            
            </div>
            <div class="title">Our Courier.PO Reports</div>
            <div class="subtitle">View how Courier.PO is doing</div>

        </div>

    </section>
    <section class="section">
        <div class="container">
            <a id="Index"></a>
            <h2>Page Index</h2><br/>
            <a href="#EPTracking">Employee-Package Tracking Report</a><br/>
            <a href="#Revenue">Office Revenue Report</a><br/>
            <a href="#MonthLog">Employee Stats Last 30 Days</a><br/>
            <a href="#ShiftReport">Employee Shift Details Report</a><br/>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <div style="overflow-x: auto;">
        <a id="EPTracking"></a>
        <h1> Employee-Package Tracking Report </h1>
        Below is a detailed report of each package, its journey and current status. Use this if something happens to a package, to find its last known handler and vehicle.<br/>
        <a href="#Index">Click to return to Index</a><br/>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>VIN</th>                   
                    <th>Office ID</th>
                    <th>Package ID</th>
                    <th>Destination ZIP</th>
                    <th>Package Weight</th>
                    <th>Status</th>
            </tr>
            </thead>

            <tbody>
            
                {% for each in reportEmployeeDelivery %}
                    <tr>
                    <th>{{ each.EmployeeID }}</th>
                    <th>{{ each.FirstName }} {{ each.MiddleName }}. {{ each.LastName }}</th>
                    <th>{{ each.VehicleID }}</th>                   
                    <th>{{ each.OfficeID }}</th>

                    <th>{{each.PackageID}}</th>
                    <th>{{each.dest_ZIP}}</th>
                    <th>{{each.Weight}} lbs.</th>
                    <th>{{each.Status}}</th>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        </div>
        </div>


    </section>


    <section class="section">
        <div class="container">
        <div style="overflow-x: auto;">
        <a id="Revenue"></a>
        <h1> Office Revenue Report </h1>
        Below is a report of how many orders each office has had and its total revenue.<br/>
        <a href="#Index">Click to return to Index</a><br/>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                    <th>Office</th>
                    <th>Total No. Of Shipping Orders</th>
                    <th>Employees Employed</th>
                    <th>Total Revenue</th>

            </tr>
            </thead>

            <tbody>
            {% for each in reportOfficeStats %}
                    <tr>
                    <th>{{ each.return_office }}</th>
                    <th>{{ each.TotalPackages }}</th>
                    <th>{{ each.TotalEmployees}}</th>
                    <th>${{ each.TotalRev }}</th>
                    </tr>
            {% endfor %}
            {% if reportRegionalStats is defined %}
                {% for each in reportRegionalStats %}
                    <tr>
                    <th>{{ each.StateName }}</th>
                    <th> {% if each.OfficesCount is null %}0{% else %}{{ each.OfficesCount }}{% endif %}</th>
                    <th> {% if each.OrdersCount is null %}0{% else %}{{ each.OrdersCount }}{% endif %}</th>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
        </div>


    </section>

    <section class="section">
        <div class="container">
        <div style="overflow-x: auto;">
        <a id="MonthLog"></a>
        <h1> Employee Stats Last 30 Days </h1>
        Below shows each employee and their logged information over the past 30 days. This includes their hours worked and all unique packages delivered either to other offices or to their destination.<br/>
        <a href="#Index">Click to return to Index</a><br/>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Office</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Packages Delivered</th>
                <th>Hours Worked</th>
            </tr>
            </thead>
            <tbody>
                {% for each in reportLast30Days %}
                    <tr>
                    <th> {{each.OfficeID}}</th>
                    <th>{{ each.EmployeeID }}</th>
                    <th>{{ each.FirstName }} {{ each.MiddleName }}. {{ each.LastName }}</th>
                    <th>{{each.Delivered}}</th>
                    <th>{{ each.TotalHours }}</th>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <div style="overflow-x: auto;">
        <a id="ShiftReport"></a>
        <h1> Employee Shift Details Report </h1>
        Below is a detailed log of each shift logged by an employee, including their hours worked that shift, which vehicle was used, and how many packages they delivered.<br/>
        <a href="#Index">Click to return to Index</a><br/>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Shift ID</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Vehicle Used (VIN)</th>
                <th>Packages Delivered</th>
                <th>Date</th>
                <th>Hours Worked</th>
            </tr>
            </thead>
            <tbody>
                {% for each in reportEmployeeStats %}
                    <tr>
                    <th>{{ each.ShiftSession }}</th>
                    <th>{{ each.EmployeeID }}</th>
                    <th>{{ each.FirstName }} {{ each.MiddleName }}. {{ each.LastName }}</th>
                    <th>{{ each.VehicleID }}</th>
                    <th>{{each.Delivered}}</th>
                    <th>{{ each.Clock_in_dateTime }}</th>
                    <th>{{ each.Hours_Worked }}</th>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </section>
    
{% endblock %}