{%  extends 'employee_layout.html.twig' %}

{% block title %}
{{ parent() }} - Reports
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    {{ parent() }}
    
    <section id="postal-banner" class="section postal-employee-banner">
        <div class="container">
            <div>
            
            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}
            
            </div>
            <div class="title">Our Courier.PO Reports</div>
            <div class="subtitle">View how Courier.PO is doing</div>
        </div>

    </section>


    <section class="section">
        <div class="container">
        <div style="overflow-x: auto;">

        
        <table class="table is-fullwidth">
            <thead>
            <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>VIN</th>                   
                    <th>Office ID</th>
                    <th>Package ID</th>
                    <th>Destination ZIP</th>
                    <th>Package Weight</th>
                    <th>Status</th>
            </tr>
            </thead>

            <tbody>
            
                {% for each in reportEmployeeDelivery %}
                    <tr>
                    <th>{{ each.EmployeeID }}</th>
                    <th>{{ each.FirstName }} {{ each.MiddleName }}. {{ each.LastName }}</th>
                    <th>{{ each.VIN }}</th>                   
                    <th>{{ each.OfficeID }}</th>

                    <th>{{each.PackageID}}</th>
                    <th>{{each.dest_ZIP}}</th>
                    <th>{{each.Weight}} oz.</th>
                    <th>{{each.Status}}</th>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        </div>
        </div>


    </section>


    <section class="section">
        <div class="container">
        <div style="overflow-x: auto;">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                    <th>Office</th>
                    <th>Total No. Of Shipping Orders</th>
                    <th>Total Revenue</th>

            </tr>
            </thead>

            <tbody>
            {% for each in reportOfficeStats %}
                    <tr>
                    <th>{{ each.OfficeID }}</th>
                    <th>{{ each.TotalPackages }}</th>
                    <th>${{ each.TotalRev }}</th>
                    </tr>
            {% endfor %}
            {% if reportRegionalStats is defined %}
                {% for each in reportRegionalStats %}
                    <tr>
                    <th>{{ each.StateName }}</th>
                    <th> {% if each.OfficesCount is null %}0{% else %}{{ each.OfficesCount }}{% endif %}</th>
                    <th> {% if each.OrdersCount is null %}0{% else %}{{ each.OrdersCount }}{% endif %}</th>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
        </div>


    </section>

        <section class="section">
        <div class="container">
        <div style="overflow-x: auto;">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Shift ID</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Vehicle Used (VIN)</th>
                <th>Packages Managed</th>
                <th>Packages Delivered</th>
                <th>Date</th>
                <th>Hours Worked</th>
            </tr>
            </thead>
            <tbody>
                {% for each in reportEmployeeStats %}
                    <tr>
                    <th>{{ each.ShiftSession }}</th>
                    <th>{{ each.EmployeeID }}</th>
                    <th>{{ each.FirstName }} {{ each.MiddleName }}. {{ each.LastName }}</th>
                    <th>{{ each.VehicleID }}</th>
                    <th>{{ each.TotalP }}</th>
                    <th></th>
                    <th>{{ each.Clock_in_dateTime }}</th>
                    <th>{{ each.Hours_Worked }}</th>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </section>
    
{% endblock %}