{%  extends 'base.html.twig' %}

{% block body %}

<nav class="navbar is-dark  postal-bg-style dashbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item postal-brand" href="{{ path('app-customer-home') }}">
      Courier.PO
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item", href="{{ path('app-customer-orders') }}">
        My Orders
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Packages
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ path('app-create-package') }}">
            Create A Package
          </a>
          <a class="navbar-item">
            Track A Package
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Plan A Package
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-item disabled" style="color: #fff;">
          Signed In As
        </div>


        <div class="buttons">



      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link button is-primary">
          <strong>
            {% if name is defined %}

              {{ name }}

            {% else %}

              Unknown User

            {% endif %}
          </strong>
          </a>


        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ path('app-customer-profile') }}">
            Account
          </a>
          <a class="navbar-item">
            Messages
          </a>
          <a class="navbar-item">
            Settings
          </a>
        </div>
        </div>
        
          {{ form(logout) }}


      </div>
    </div>
</nav>

{% endblock %}

{% block javascripts %}

{% endblock %}
