{%  extends 'base.html.twig' %}

{% block body %}

<nav class="navbar dashbar is-dark" role="navigation" aria-label="main navigation">

  <div class="navbar-brand ">
    <a class="navbar-item postal-brand" href="{{ path('app-employee-home')}}">
    Courier.PO
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ path('app-employee-manage-office') }}">
        Manage Office
      </a>
      <a class="navbar-item" href="{{ path('app-employee-deliver') }}">
        My Delivery
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Actions
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ path('app-employee-reports')}}">
            View CourierPO Reports
          </a>
        </div>
      </div>
    </div>

    
<div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-item disabled" style="color: #fff;">
          Signed In As
        </div>


        <div class="buttons">



      <div class="navbar-item">
          <a class="button is-primary">
          <strong>
            {% if name is defined %}

              {{ name }}

            {% else %}

              Unknown User

            {% endif %}
          </strong>
          </a>
        
          {{ form(logout) }}


      </div>
    </div>


  </div>
</nav>

{% endblock %}


{% block javascripts %}

{% endblock %}
