{%  extends 'base.html.twig' %}

{% block body %}

    {% block header %}
    <div class="hero-head postal-bg-style">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item postal-brand" href="{{ path('app-main-page') }}">
                    Courier.PO
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">

                {% block navOptions %} 
                
                <div class="navbar-end">

                    <div id="header-dropdown-button1" name="header-dropdown" class="dropdown navbar-item postal-button is-right">
                        <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="drawDropdown(1);">
                                <span>Tracking</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{{ path("app-track") }}" class="dropdown-item">
                                        Track Your Package
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
                <div id="header-dropdown-button2" name="header-dropdown" class="dropdown navbar-item postal-button is-right">
                        <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="drawDropdown(2);">
                                <span>MyAccount</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">

                                    <div class="dropdown-item">
                                        {% if feedback|length > 0 %}
                                            <div class="notification is-warning">
                                                Incorrect Email or Password
                                            </div>
                                        {% endif %}
                                    {{ form_start(login) }}

                                    <div class="postal-form-space">
                                        <label class="label">Customer Login</label>
                                        {{ form_row(login.Email)}}

                                        {{ form_row(login.Password)}}

                                        {{ form_row(login.Submit)}}
                                    </div>

                                    {{ form_end(login) }}
                                    </div>
                                    <hr class="dropdown-divider">

                                    <a href="{{ path('app-register') }}" class="dropdown-item">
                                        Register
                                    </a>
                                </div>
                        </div>
                </div>
                
                {% endblock %}

            </div>
        </nav>
    </div>
    {% endblock %}

{% endblock %}

{% block footer %}

    <footer>
        <div class="footer">
            <div class="content container">


<div class="columns">
  <div class="column is-one-quarter footer-listing">
      <ul style="list-style: none; font-size: 1.1em;">
        <li style="font-weight: bold;">Our Company</li>
        <li><a href="{{ path('app-careers')}}">Careers</a></li>
        <li><a href="{{ path('app-employee-home') }}">Employee Portal</a></li>
    </ul>
  </div>
  <div class="column">
  
  </div>
</div>

            </div>
        </div>
        <div class="postal-copyright">
            <div class="level container">
                <div class="level-left">
                    <div class="level-item">
                        &copy; CourierPO 2019. All rights reserved. 
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item"><p><a>Terms of Use </a> |</p></div>
                    <div class="level-item"><p><a>Privacy Notice </a> |</p></div>
                    <div class="level-item"><a>Feedback</a></div>
                </div>
            </div>
        </div>
     </footer>


{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/dropdown.js') }}"></script>
{% endblock %}
